In [3]:
import pandas as pd
import numpy as np

df_resultados = pd.read_csv('drive/MyDrive/Predicciones/Resultados.csv')
resultados2013 =df_resultados[df_resultados.Año > 2012]
resultados1 = resultados2013[['Pos_Inact_Inicial', 'Pos_Inact_Final', 'Removidos', 'Reactivos', 'FFVV_inicial', 'FFVV_final', 'Old Actives', 'Activos', 'No_activos', 'Reclutados', 'Inscritos']][resultados2013.reclutamiento == 1]

In [4]:
from sklearn import preprocessing, svm 
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression 
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import PolynomialFeatures
from matplotlib import pyplot as plt
from sklearn.neural_network import MLPClassifier
from sklearn.datasets.samples_generator import make_blobs
from sklearn.datasets import make_classification 
from sklearn.model_selection import train_test_split

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.datasets.samples_generator module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.datasets. Anything that cannot be imported from sklearn.datasets is now part of the private API.
  warnings.warn(message, FutureWarning)

#Clasificación supervisada

##Regresión Lineal

In [6]:
X = resultados1[['FFVV_final','Activos']]
Y = resultados1['Reclutados']

In [7]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.4, random_state=5)

In [8]:
lin_model = LinearRegression()
lin_model.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [9]:
y_train_predict = lin_model.predict(X_train)
MSE = mean_squared_error(Y_train,y_train_predict)
print("Entrenamiento: MSE ="+str(MSE))

y_test_predict = lin_model.predict(X_test)
MSE = (mean_squared_error(Y_test, y_test_predict))
print("Pruebas: MSE ="+str(MSE))

df_predicciones = pd.DataFrame({'valor_real':Y_test, 'prediccion':y_test_predict, 'diferencia':Y_test-y_test_predict})
df_predicciones = df_predicciones.reset_index(drop = True)
df_predicciones.head(10)

Entrenamiento: MSE =9075805.153431984
Pruebas: MSE =9269696.680720726

   valor_real    prediccion   diferencia
0       13025  13192.357063  -167.357063
1       15949  12798.619464  3150.380536
2       12798  12532.016336   265.983664
3       11404   8442.656498  2961.343502
4       13401  14796.349312 -1395.349312
5       13694   9085.050735  4608.949265
6       20142  17111.717499  3030.282501
7       16463  14267.244549  2195.755451
8        6301  14498.015951 -8197.015951
9        8624   7719.583034   904.416966